
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thư viện sách</title>
    <link rel="stylesheet" th:href="" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="" href="@{/btlweb/src/main/resources/static/style/style.css}"./>
    <link rel="stylesheet" th:href="" href="@{/btlweb/src/main/resources/static/style/frame.css}"./>
    <link th:href="" href="https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/btlweb/src/main/resources/static/font/fontawesome-free-6.4.0-web/css/all.min.css}"./>
</head>



<body><!--ten khoi - ten chuc nang--ten modifier-->
    <div class="app">
        <!--Phan dau -->
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/}" href="#">
                                <i class="fa-solid fa-book"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </nav>
               
        </header>
        
        <!--phan than -->
        <div class="app__container">
            <div class="grid">
               
                 <img class="container_img" src="/btlweb/src/main/resources/static/image/Library-Books.jpg" alt="">

               
            </div>
           
        </div>
  
                      
    
</body>


</html>